In [1]:
import pandas as pd
import numpy as np
import feather
import matplotlib as mpl
mpl.use('nbAgg')
import matplotlib.pyplot as plt
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm
from sklearn.preprocessing import label_binarize
import numpy as np
import numpy.random as nr
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss
import math
from sklearn.naive_bayes import GaussianNB, BernoulliNB
%matplotlib inline

In [2]:
pingfInfoFilePath = './data/dv_personas_190411_abt1'
dv_personas_190411_model = pd.read_feather(pingfInfoFilePath,columns=None, use_threads=True)
dv_personas_190411_model.head()

,sexo,tipo_acceso,tipo_erasmus,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,dni,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),...,Titulacion_is_MÁSTER UNIVERSITARIO EN INVESTIGACIÓN EN HUMANIDADES,Titulacion_is_MÁSTER EN GESTIÓN DEL CONOCIMIENTO BIOMÉDICO E INVESTIGACIÓN CLÍNICA.,Titulacion_is_MÁSTER EN GESTIÓN Y DIRECCIÓN HOSTELERA,Titulacion_is_MÁSTER UNIVERSITARIO EN FORMACIÓN DEL PROFESORADO Y TIC,Titulacion_is_PCEO: DERECHO / ADMINISTRACIÓN Y DIRECCIÓN DE EMPRESAS,Titulacion_is_PCEO: ADMINISTRACIÓN Y DIRECCIÓN DE EMPRESAS / DERECHO,Titulacion_is_PCEO: ADMINISTRACIÓN Y DIRECCIÓN DE EMPRESAS /CIENCIAS DEL TRABAJO,Titulacion_is_MÁSTER UNIVERSITARIO GESTIÓN CONOCIMIENTO BIOMÉDICO E INVESTIGACIÓN CLÍNICA,Titulacion_is_MÁSTER UNIVERSITARIO EN INVESTIGACIÓN EN CIENCIAS SOCIOSANITARIAS,Titulacion_is_MÁSTER UNIVERSITARIO EN PSICOPEDAGOGÍA
0,M,Selectividad,Ninguno,21,23.0,0013670b45b4207d01539bc1d057daa03bab0e2de19916...,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,M,Selectividad,Ninguno,26,28.0,2ec47253d8c59fa32f000519d2f9b83c26c7f11dcc1ed8...,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,M,Acceso a Segundo Ciclo,Ninguno,24,21.0,2d2f9c8a7e3c780fef578a2be45f60d537480aeaf01a88...,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,H,Selectividad,Ninguno,21,37.0,df8a544bdeb3b60dfe3c5ab2abce943b2e8769ca4693ce...,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,M,Título Universitario,Ninguno,32,78.0,0b7cafeb91821d6c39ccc2f3058edd9c77f351f0047f1a...,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
categoricalCols = ['sexo','tipo_acceso','tipo_erasmus']

In [5]:
dv_personas_190411_model_one_hot = pd.get_dummies(data=dv_personas_190411_model,columns=categoricalCols)

In [6]:
dv_personas_190411_model_one_hot.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,dni,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,23.0,0013670b45b4207d01539bc1d057daa03bab0e2de19916...,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,28.0,2ec47253d8c59fa32f000519d2f9b83c26c7f11dcc1ed8...,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,21.0,2d2f9c8a7e3c780fef578a2be45f60d537480aeaf01a88...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,37.0,df8a544bdeb3b60dfe3c5ab2abce943b2e8769ca4693ce...,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,78.0,0b7cafeb91821d6c39ccc2f3058edd9c77f351f0047f1a...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [7]:
dv_personas_190411_model_one_hot.drop(['dni'],axis=1,inplace = True)

#### Comenzamos dividiendo el tto_pcto_dias_trabajados en bloques de 33

In [8]:
tto_pcto_dias_trabajados_bucket_array = np.linspace(0,100,4)
tto_pcto_dias_trabajados_bucket_array

array([  0.        ,  33.33333333,  66.66666667, 100.        ])

In [9]:
dv_personas_190411_model_one_hot_33 = dv_personas_190411_model_one_hot.copy()
dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados'] = pd.cut(dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados'],tto_pcto_dias_trabajados_bucket_array,include_lowest=True)
dv_personas_190411_model_one_hot_33.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,"(-0.001, 33.333]",1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,"(-0.001, 33.333]",0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,"(-0.001, 33.333]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,"(33.333, 66.667]",0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,"(66.667, 100.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [10]:
dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados'].astype('category')

0        (-0.001, 33.333]
1        (-0.001, 33.333]
2        (-0.001, 33.333]
3        (33.333, 66.667]
4         (66.667, 100.0]
               ...
14315    (-0.001, 33.333]
14316    (-0.001, 33.333]
14317    (-0.001, 33.333]
14318    (-0.001, 33.333]
14319    (-0.001, 33.333]
Name: tto_pcto_dias_trabajados, Length: 14320, dtype: category
Categories (3, interval[float64]): [(-0.001, 33.333] < (33.333, 66.667] < (66.667, 100.0]]

In [11]:
dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados'] = dv_personas_190411_model_one_hot_33.tto_pcto_dias_trabajados.cat.codes
dv_personas_190411_model_one_hot_33.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [12]:
dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados'].value_counts()

0    9286
1    4013
2    1021
Name: tto_pcto_dias_trabajados, dtype: int64

In [13]:
Features_1_2 = dv_personas_190411_model_one_hot_33.iloc[:,0:1]
Features_2_2 = dv_personas_190411_model_one_hot_33.iloc[:,2:]
Labels = dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados']

In [14]:
Features = np.array(Features_1_2)
Features = np.concatenate([Features, np.array(Features_2_2)], axis = 1)
Features[:2,:]

array([[21,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0],
       [26,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0]], dtype=int64)

In [15]:
Features.shape

(14320, 204)

Procedemos a eliminar la característica de "edad_fin_primera_titulacion" para poder aplicar Bernoulli Nave Bayes, que sólo funciona con variables binarias

In [16]:
Features = Features[:,1:]
Features[:2,:]

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0]], dtype=int64)

In [17]:
Features.shape

(14320, 203)

In [18]:
Labels = np.array(Labels)
Labels[:20]

array([0, 0, 0, 1, 2, 0, 1, 2, 0, 1, 2, 1, 1, 0, 0, 2, 0, 1, 2, 2],
      dtype=int8)

In [19]:
nr.seed(123)
inside = ms.KFold(n_splits=10, shuffle = True)
nr.seed(321)
outside = ms.KFold(n_splits=10, shuffle = True)

In [20]:
nr.seed(3456)
## Define the dictionary for the grid search and the model object to search on
param_grid = {"alpha": [0.0001, 0.001, 0.01, 0.1, 1, 10]}
## Define the NB regression model
NB_clf_ovo_33 = BernoulliNB() 

## Perform the grid search over the parameters
clf_ovo_33 = ms.GridSearchCV(estimator = NB_clf_ovo_33, param_grid = param_grid, 
                      cv = inside, # Use the inside folds
                      scoring = 'roc_auc_ovo_weighted',
                      return_train_score = True)
clf_ovo_33.fit(Features, Labels)
print(clf_ovo_33.best_estimator_.alpha)

1

In [21]:
nr.seed(498)
cv_estimate = ms.cross_val_score(clf_ovo_33, Features, Labels, 
                                 cv = outside) # Use the outside folds

print('Mean performance metric = %4.3f' % np.mean(cv_estimate))
print('SDT of the metric       = %4.3f' % np.std(cv_estimate))
print('Outcomes by cv fold')
for i, x in enumerate(cv_estimate):
    print('Fold %2d    %4.3f' % (i+1, x))

Mean performance metric = 0.656
SDT of the metric       = 0.011
Outcomes by cv fold
Fold  1    0.649
Fold  2    0.673
Fold  3    0.674
Fold  4    0.659
Fold  5    0.658
Fold  6    0.635
Fold  7    0.642
Fold  8    0.660
Fold  9    0.655
Fold 10    0.654

In [22]:
x_train, x_test, y_train, y_test = ms.train_test_split(Features,Labels,test_size=0.25, random_state=42)

In [23]:
NB_mod_ovo_33 = BernoulliNB(alpha=clf_ovo_33.best_estimator_.alpha)
NB_mod_ovo_33.fit(x_train, y_train)
scores = NB_mod_ovo_33.predict(x_test)
scores

array([0, 0, 0, ..., 0, 2, 1], dtype=int8)

In [42]:
def print_metrics_33(labels, scores):
    conf = sklm.confusion_matrix(labels, scores)
    print('                 Confusion matrix')
    print('                 Score [0,333.333]    Score (33.333,66.667] Score (66.667,100]')
    print('Actual [0,333.333]        %6d' % conf[0,0] + '             %5d' % conf[0,1] + '             %5d' % conf[0,2])
    print('Actual (33.333,66.667]    %6d' % conf[1,0] + '             %5d' % conf[1,1] + '             %5d' % conf[1,2])
    print('Actual (66.667,100]       %6d' % conf[2,0] + '             %5d' % conf[2,1] + '             %5d' % conf[2,2])

    print('')
    print('Accuracy        %0.2f' % sklm.accuracy_score(labels, scores))
    metrics = sklm.precision_recall_fscore_support(labels, scores)
    print(' ')
    print('         Score [0,333.333]    Score (33.333,66.667] Score (66.667,100]')
    print('Num case   %0.2f' % metrics[3][0] + '                  %0.2f' % metrics[3][1] + '                  %0.2f' % metrics[3][2] )
    print('Precision   %0.2f' % metrics[0][0] + '                      %0.2f' % metrics[0][1] + '                   %0.2f' % metrics[0][2] )
    print('Recall      %0.2f' % metrics[1][0] + '                      %0.2f' % metrics[1][1] + '                   %0.2f' % metrics[1][2] )
    print('F1          %0.2f' % metrics[2][0] + '                      %0.2f' % metrics[2][1] + '                   %0.2f' % metrics[2][2] )

In [43]:
print_metrics_33(y_test, scores)

                 Confusion matrix
                 Score [0,333.333]    Score (33.333,66.667] Score (66.667,100]
Actual [0,333.333]          2005               167               102
Actual (33.333,66.667]       790               171                83
Actual (66.667,100]          172                61                29

Accuracy        0.62

         Score [0,333.333]    Score (33.333,66.667] Score (66.667,100]
Num case   2274.00                  1044.00                  262.00
Precision   0.68                      0.43                   0.14
Recall      0.88                      0.16                   0.11
F1          0.77                      0.24                   0.12

In [26]:
probs = NB_mod_ovo_33.predict_proba(x_test)

In [29]:
sklm.roc_auc_score(y_test,probs,multi_class='ovo',average='weighted')

0.6348629954750187

#### Procedemos a dividir el tto_pcto_dias_trabajados en bloques de 25

In [44]:
dv_personas_190411_model_one_hot[dv_personas_190411_model_one_hot['tto_pcto_dias_trabajados'] == 0]

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
23,21,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
45,26,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
66,23,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
67,23,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
81,32,0.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14152,21,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
14230,37,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14285,38,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14298,27,0.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
14308,21,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [45]:
tto_pcto_dias_trabajados_bucket_array = np.linspace(0,100,5)
tto_pcto_dias_trabajados_bucket_array

array([  0.,  25.,  50.,  75., 100.])

In [46]:
dv_personas_190411_model_one_hot_25 = dv_personas_190411_model_one_hot.copy()
dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados'] = pd.cut(dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados'],tto_pcto_dias_trabajados_bucket_array,include_lowest=True)
dv_personas_190411_model_one_hot_25.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,"(-0.001, 25.0]",1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,"(25.0, 50.0]",0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,"(-0.001, 25.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,"(25.0, 50.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,"(75.0, 100.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [47]:
dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados'].astype('category')

0        (-0.001, 25.0]
1          (25.0, 50.0]
2        (-0.001, 25.0]
3          (25.0, 50.0]
4         (75.0, 100.0]
              ...
14315    (-0.001, 25.0]
14316    (-0.001, 25.0]
14317    (-0.001, 25.0]
14318    (-0.001, 25.0]
14319    (-0.001, 25.0]
Name: tto_pcto_dias_trabajados, Length: 14320, dtype: category
Categories (4, interval[float64]): [(-0.001, 25.0] < (25.0, 50.0] < (50.0, 75.0] < (75.0, 100.0]]

In [48]:
dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados'] = dv_personas_190411_model_one_hot_25.tto_pcto_dias_trabajados.cat.codes
dv_personas_190411_model_one_hot_25.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [49]:
dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados'].value_counts()

0    7497
1    4319
2    1966
3     538
Name: tto_pcto_dias_trabajados, dtype: int64

In [50]:
Features_1_2 = dv_personas_190411_model_one_hot_25.iloc[:,0:1]
Features_2_2 = dv_personas_190411_model_one_hot_25.iloc[:,2:]
Labels = dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados']

In [51]:
Features = np.array(Features_1_2)
Features = np.concatenate([Features, np.array(Features_2_2)], axis = 1)
Features[:2,:]

array([[21,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0],
       [26,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0]], dtype=int64)

In [52]:
Features.shape

(14320, 204)

Procedemos a eliminar la característica de "edad_fin_primera_titulacion" para poder aplicar Bernoulli Nave Bayes, que sólo funciona con variables binarias

In [53]:
Features = Features[:,1:]
Features[:2,:]

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0]], dtype=int64)

In [54]:
Features.shape

(14320, 203)

In [55]:
Labels = np.array(Labels)
Labels[:20]

array([0, 1, 0, 1, 3, 0, 1, 3, 0, 2, 2, 1, 1, 0, 0, 3, 0, 1, 2, 3],
      dtype=int8)

In [56]:
nr.seed(123)
inside = ms.KFold(n_splits=10, shuffle = True)
nr.seed(321)
outside = ms.KFold(n_splits=10, shuffle = True)

In [57]:
nr.seed(3456)
## Define the dictionary for the grid search and the model object to search on
param_grid = {"alpha": [0.0001, 0.001, 0.01, 0.1, 1, 10]}
## Define the NB regression model
NB_clf_ovo_25 = BernoulliNB() 

## Perform the grid search over the parameters
clf_ovo_25 = ms.GridSearchCV(estimator = NB_clf_ovo_25, param_grid = param_grid, 
                      cv = inside, # Use the inside folds
                      scoring = 'roc_auc_ovo_weighted',
                      return_train_score = True)
clf_ovo_25.fit(Features, Labels)
print(clf_ovo_25.best_estimator_.alpha)

0.1

In [58]:
nr.seed(498)
cv_estimate = ms.cross_val_score(clf_ovo_25, Features, Labels, 
                                 cv = outside) # Use the outside folds

print('Mean performance metric = %4.3f' % np.mean(cv_estimate))
print('SDT of the metric       = %4.3f' % np.std(cv_estimate))
print('Outcomes by cv fold')
for i, x in enumerate(cv_estimate):
    print('Fold %2d    %4.3f' % (i+1, x))

Mean performance metric = 0.644
SDT of the metric       = 0.011
Outcomes by cv fold
Fold  1    0.635
Fold  2    0.643
Fold  3    0.669
Fold  4    0.634
Fold  5    0.649
Fold  6    0.629
Fold  7    0.639
Fold  8    0.645
Fold  9    0.652
Fold 10    0.643

In [59]:
x_train, x_test, y_train, y_test = ms.train_test_split(Features,Labels,test_size=0.25, random_state=42)

In [60]:
NB_mod_ovo_25 = BernoulliNB(alpha=clf_ovo_25.best_estimator_.alpha)
NB_mod_ovo_25.fit(x_train, y_train)
scores = NB_mod_ovo_25.predict(x_test)
scores

array([0, 0, 0, ..., 0, 2, 2], dtype=int8)

In [78]:
def print_metrics_25(labels, scores):
    conf = sklm.confusion_matrix(labels, scores)
    print('                 Confusion matrix')
    print('                 Score [0,25]    Score (25,50] Score (50,75] Score (75,100]')
    print('Actual [0,25]     %6d' % conf[0,0] + '             %5d' % conf[0,1] + '             %5d' % conf[0,2] + '              %5d' % conf[0,3])
    print('Actual (25,50]    %6d' % conf[1,0] + '             %5d' % conf[1,1] + '             %5d' % conf[1,2] + '              %5d' % conf[1,3])
    print('Actual (50,75]    %6d' % conf[2,0] + '             %5d' % conf[2,1] + '             %5d' % conf[2,2] + '              %5d' % conf[2,3])
    print('Actual (75,100]   %6d' % conf[3,0] + '             %5d' % conf[3,1] + '             %5d' % conf[3,2] + '              %5d' % conf[3,3])

    print('')
    print('Accuracy        %0.2f' % sklm.accuracy_score(labels, scores))
    metrics = sklm.precision_recall_fscore_support(labels, scores)
    print(' ')
    print('          Score [0,25]  Score (25,50]  Score (50,75] Score (75,100]')
    print('Num case   %0.2f' % metrics[3][0] + '         %0.2f' % metrics[3][1] + '        %0.2f' % metrics[3][2] + '       %0.2f' % metrics[3][3] )
    print('Precision   %0.2f' % metrics[0][0] + '            %0.2f' % metrics[0][1] + '           %0.2f' % metrics[0][2] + '         %0.2f' % metrics[0][3] )
    print('Recall      %0.2f' % metrics[1][0] + '            %0.2f' % metrics[1][1] + '           %0.2f' % metrics[1][2] + '         %0.2f' % metrics[1][3] )
    print('F1          %0.2f' % metrics[2][0] + '            %0.2f' % metrics[2][1] + '           %0.2f' % metrics[2][2] + '         %0.2f' % metrics[2][3] )

In [79]:
print_metrics_25(y_test, scores)

                 Confusion matrix
                 Score [0,25]    Score (25,50] Score (50,75] Score (75,100]
Actual [0,25]       1531               154               129                 15
Actual (25,50]       816               161               121                 20
Actual (50,75]       356                56                79                 11
Actual (75,100]       78                14                35                  4

Accuracy        0.50

          Score [0,25]  Score (25,50]  Score (50,75] Score (75,100]
Num case   1829.00         1118.00        502.00       131.00
Precision   0.55            0.42           0.22         0.08
Recall      0.84            0.14           0.16         0.03
F1          0.66            0.21           0.18         0.04

In [65]:
probs = NB_mod_ovo_25.predict_proba(x_test)

In [ ]:
sklm.roc_auc_score(y_test,probs,multi_class='ovo',average='weighted')

#### Procedemos a dividir el tto_pcto_dias_trabajados en bloques de 20

In [478]:
tto_pcto_dias_trabajados_bucket_array = np.linspace(0,100,6)
tto_pcto_dias_trabajados_bucket_array

array([  0.,  20.,  40.,  60.,  80., 100.])

In [479]:
dv_personas_190411_model_one_hot_20 = dv_personas_190411_model_one_hot.copy()
dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados'] = pd.cut(dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados'],tto_pcto_dias_trabajados_bucket_array,include_lowest=True)
dv_personas_190411_model_one_hot_20.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,23,"(-0.001, 20.0]",0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
1,22,"(60.0, 80.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,21,"(20.0, 40.0]",1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,24,"(40.0, 60.0]",0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,26,"(40.0, 60.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [480]:
dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados'].astype('category')

0        (-0.001, 20.0]
1          (60.0, 80.0]
2          (20.0, 40.0]
3          (40.0, 60.0]
4          (40.0, 60.0]
              ...
14710    (-0.001, 20.0]
14711    (-0.001, 20.0]
14712    (-0.001, 20.0]
14713      (20.0, 40.0]
14714    (-0.001, 20.0]
Name: tto_pcto_dias_trabajados, Length: 14715, dtype: category
Categories (5, interval[float64]): [(-0.001, 20.0] < (20.0, 40.0] < (40.0, 60.0] < (60.0, 80.0] < (80.0, 100.0]]

In [481]:
dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados'] = dv_personas_190411_model_one_hot_20.tto_pcto_dias_trabajados.cat.codes
dv_personas_190411_model_one_hot_20.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,23,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
1,22,3,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,21,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,24,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,26,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [482]:
dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados'].value_counts()

0    6377
1    4373
2    2440
3    1147
4     378
Name: tto_pcto_dias_trabajados, dtype: int64

In [483]:
Features_1_2 = dv_personas_190411_model_one_hot_20.iloc[:,0:1]
Features_2_2 = dv_personas_190411_model_one_hot_20.iloc[:,2:]
Labels = dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados']

In [484]:
Features = np.array(Features_1_2)
Features = np.concatenate([Features, np.array(Features_2_2)], axis = 1)
Features[:2,:]

array([[23,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0],
       [22,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0]], dtype=int64)

In [485]:
Features.shape

(14715, 204)

Procedemos a eliminar la característica de "edad_fin_primera_titulacion" para poder aplicar Bernoulli Nave Bayes, que sólo funciona con variables binarias

In [486]:
Features = Features[:,1:]
Features[:2,:]

array([[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0]], dtype=int64)

In [487]:
Features.shape

(14715, 203)

In [488]:
Labels = np.array(Labels)
Labels[:20]

array([0, 3, 1, 2, 2, 0, 0, 3, 0, 2, 3, 4, 0, 0, 0, 1, 0, 1, 3, 0],
      dtype=int8)

In [489]:
nr.seed(123)
inside = ms.KFold(n_splits=10, shuffle = True)
nr.seed(321)
outside = ms.KFold(n_splits=10, shuffle = True)

In [490]:
nr.seed(3456)
## Define the dictionary for the grid search and the model object to search on
param_grid = {"alpha": [0.0001, 0.001, 0.01, 0.1, 1, 10]}
## Define the NB regression model
NB_clf_ovo_20 = BernoulliNB() 

## Perform the grid search over the parameters
clf_ovo_20 = ms.GridSearchCV(estimator = NB_clf_ovo_20, param_grid = param_grid, 
                      cv = inside, # Use the inside folds
                      scoring = 'roc_auc_ovo_weighted',
                      return_train_score = True)
clf_ovo_20.fit(Features, Labels)
print(clf_ovo_20.best_estimator_.alpha)

1

In [491]:
nr.seed(498)
cv_estimate = ms.cross_val_score(clf_ovo_20, Features, Labels, 
                                 cv = outside) # Use the outside folds

print('Mean performance metric = %4.3f' % np.mean(cv_estimate))
print('SDT of the metric       = %4.3f' % np.std(cv_estimate))
print('Outcomes by cv fold')
for i, x in enumerate(cv_estimate):
    print('Fold %2d    %4.3f' % (i+1, x))

Mean performance metric = 0.631
SDT of the metric       = 0.010
Outcomes by cv fold
Fold  1    0.631
Fold  2    0.651
Fold  3    0.626
Fold  4    0.632
Fold  5    0.620
Fold  6    0.628
Fold  7    0.619
Fold  8    0.635
Fold  9    0.645
Fold 10    0.625

In [492]:
x_train, x_test, y_train, y_test = ms.train_test_split(Features,Labels,test_size=0.25, random_state=42)

In [493]:
NB_mod_ovo_20 = BernoulliNB(alpha=clf_ovo_20.best_estimator_.alpha)
NB_mod_ovo_20.fit(x_train, y_train)
scores = NB_mod_ovo_20.predict(x_test)
scores

array([1, 3, 0, ..., 3, 0, 0], dtype=int8)

In [1]:
def print_metrics_20(labels, scores):
    conf = sklm.confusion_matrix(labels, scores)
    print('                 Confusion matrix')
    print('                 Score [0,20]    Score (20,40] Score (40,60] Score (60,80] Score (80,100]')
    print('Actual [0,20]     %6d' % conf[0,0] + '             %5d' % conf[0,1] + '             %5d' % conf[0,2] + '              %5d' % conf[0,3] + '              %5d' % conf[0,4])
    print('Actual (20,40]   %6d' % conf[1,0] + '             %5d' % conf[1,1] + '             %5d' % conf[1,2] + '              %5d' % conf[1,3] + '              %5d' % conf[1,4])
    print('Actual (40,60]   %6d' % conf[2,0] + '             %5d' % conf[2,1] + '             %5d' % conf[2,2] + '              %5d' % conf[2,3] + '              %5d' % conf[2,4])
    print('Actual (60,80]   %6d' % conf[3,0] + '             %5d' % conf[3,1] + '             %5d' % conf[3,2] + '              %5d' % conf[3,3] + '              %5d' % conf[3,4])
    print('Actual (80,100]  %6d' % conf[4,0] + '             %5d' % conf[4,1] + '             %5d' % conf[4,2] + '              %5d' % conf[4,3] + '              %5d' % conf[4,4])

    print('')
    print('Accuracy        %0.2f' % sklm.accuracy_score(labels, scores))
    metrics = sklm.precision_recall_fscore_support(labels, scores)
    print(' ')
    print('          Score [0,20]  Score (20,40]  Score (40,60]  Score (60,80]  Score (80,100]')
    print('Num case   %0.2f' % metrics[3][0] + '         %0.2f' % metrics[3][1] + '         %0.2f' % metrics[3][2] + '          %0.2f' % metrics[3][3] + '       %0.2f' % metrics[3][4])
    print('Precision   %0.2f' % metrics[0][0] + '            %0.2f' % metrics[0][1] + '            %0.2f' % metrics[0][2] + '            %0.2f' % metrics[0][3] + '         %0.2f' % metrics[0][4])
    print('Recall      %0.2f' % metrics[1][0] + '            %0.2f' % metrics[1][1] + '            %0.2f' % metrics[1][2] + '            %0.2f' % metrics[1][3] + '         %0.2f' % metrics[1][4])
    print('F1          %0.2f' % metrics[2][0] + '            %0.2f' % metrics[2][1] + '            %0.2f' % metrics[2][2] + '            %0.2f' % metrics[2][3] + '         %0.2f' % metrics[2][4])

In [495]:
print_metrics_20(y_test, scores)

                 Confusion matrix
                 Score [0,20]    Score (20,40] Score (40,60] Score (60,80] Score (80,100]
Actual [0,20]       1297               156                76                 56                 11
Actual (20,40]      808               162                75                 47                 15
Actual (40,60]      411                70                66                 37                 15
Actual (60,80]      172                20                35                 41                  8
Actual (80,100]      62                 7                11                 16                  5

Accuracy        0.43

          Score [0,25]  Score (25,50]  Score (50,75] Score (75,100]
Num case   1596.00     1107.00      599.00      276.00       101.00
Precision   0.47      0.39       0.25     0.21     0.09
Recall      0.81      0.15       0.11     0.15     0.05
F1          0.60      0.21       0.15     0.17     0.06

In [ ]:
probs = NB_mod_ovo_20.predict_proba(x_test)

In [ ]:
sklm.roc_auc_score(y_test,probs,multi_class='ovo',average='weighted')