In [1]:
import pandas as pd
import numpy as np
import feather
import matplotlib as mpl
mpl.use('nbAgg')
import matplotlib.pyplot as plt
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import label_binarize
import numpy as np
import numpy.random as nr
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss
import math
from imblearn.combine import SMOTETomek
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

%matplotlib inline

In [2]:
pingfInfoFilePath = './dv_personas_190411_previo_linear_regression'
dv_personas_190411_model = pd.read_feather(pingfInfoFilePath,columns=None, use_threads=True)
dv_personas_190411_model.head()

,sexo,tipo_acceso,tipo_erasmus,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,dni,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),...,Titulacion_is_MÁSTER UNIVERSITARIO EN INVESTIGACIÓN EN HUMANIDADES,Titulacion_is_MÁSTER EN GESTIÓN DEL CONOCIMIENTO BIOMÉDICO E INVESTIGACIÓN CLÍNICA.,Titulacion_is_MÁSTER EN GESTIÓN Y DIRECCIÓN HOSTELERA,Titulacion_is_MÁSTER UNIVERSITARIO EN FORMACIÓN DEL PROFESORADO Y TIC,Titulacion_is_PCEO: DERECHO / ADMINISTRACIÓN Y DIRECCIÓN DE EMPRESAS,Titulacion_is_PCEO: ADMINISTRACIÓN Y DIRECCIÓN DE EMPRESAS / DERECHO,Titulacion_is_PCEO: ADMINISTRACIÓN Y DIRECCIÓN DE EMPRESAS /CIENCIAS DEL TRABAJO,Titulacion_is_MÁSTER UNIVERSITARIO GESTIÓN CONOCIMIENTO BIOMÉDICO E INVESTIGACIÓN CLÍNICA,Titulacion_is_MÁSTER UNIVERSITARIO EN INVESTIGACIÓN EN CIENCIAS SOCIOSANITARIAS,Titulacion_is_MÁSTER UNIVERSITARIO EN PSICOPEDAGOGÍA
0,M,Selectividad,Ninguno,21,23.0,0013670b45b4207d01539bc1d057daa03bab0e2de19916...,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,M,Selectividad,Ninguno,26,28.0,2ec47253d8c59fa32f000519d2f9b83c26c7f11dcc1ed8...,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,M,Acceso a Segundo Ciclo,Ninguno,24,21.0,2d2f9c8a7e3c780fef578a2be45f60d537480aeaf01a88...,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,H,Selectividad,Ninguno,21,37.0,df8a544bdeb3b60dfe3c5ab2abce943b2e8769ca4693ce...,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,M,Título Universitario,Ninguno,32,78.0,0b7cafeb91821d6c39ccc2f3058edd9c77f351f0047f1a...,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
categoricalCols = ['sexo','tipo_acceso','tipo_erasmus']

In [4]:
dv_personas_190411_model_one_hot = pd.get_dummies(data=dv_personas_190411_model,columns=categoricalCols)

In [5]:
dv_personas_190411_model_one_hot.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,dni,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,23.0,0013670b45b4207d01539bc1d057daa03bab0e2de19916...,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,28.0,2ec47253d8c59fa32f000519d2f9b83c26c7f11dcc1ed8...,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,21.0,2d2f9c8a7e3c780fef578a2be45f60d537480aeaf01a88...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,37.0,df8a544bdeb3b60dfe3c5ab2abce943b2e8769ca4693ce...,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,78.0,0b7cafeb91821d6c39ccc2f3058edd9c77f351f0047f1a...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [6]:
dv_personas_190411_model_one_hot.drop(['dni'],axis=1,inplace = True)

#### Procedemos a dividir el tto_pcto_dias_trabajados en bloques de 33

In [7]:
tto_pcto_dias_trabajados_bucket_array = np.linspace(0,100,4)
tto_pcto_dias_trabajados_bucket_array

array([  0.        ,  33.33333333,  66.66666667, 100.        ])

In [8]:
dv_personas_190411_model_one_hot_33 = dv_personas_190411_model_one_hot.copy()
dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados'] = pd.cut(dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados'],tto_pcto_dias_trabajados_bucket_array,include_lowest=True)
dv_personas_190411_model_one_hot_33.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,"(-0.001, 33.333]",1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,"(-0.001, 33.333]",0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,"(-0.001, 33.333]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,"(33.333, 66.667]",0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,"(66.667, 100.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [9]:
dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados'].astype('category')

0        (-0.001, 33.333]
1        (-0.001, 33.333]
2        (-0.001, 33.333]
3        (33.333, 66.667]
4         (66.667, 100.0]
               ...
14315    (-0.001, 33.333]
14316    (-0.001, 33.333]
14317    (-0.001, 33.333]
14318    (-0.001, 33.333]
14319    (-0.001, 33.333]
Name: tto_pcto_dias_trabajados, Length: 14320, dtype: category
Categories (3, interval[float64]): [(-0.001, 33.333] < (33.333, 66.667] < (66.667, 100.0]]

In [10]:
dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados'] = dv_personas_190411_model_one_hot_33.tto_pcto_dias_trabajados.cat.codes
dv_personas_190411_model_one_hot_33.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [11]:
dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados'].value_counts()

0    9286
1    4013
2    1021
Name: tto_pcto_dias_trabajados, dtype: int64

Como se puede apreciar, hay un gran imbalance en las clases de los datos, la gran mayoría se encuentran en la clase 0 [0,33.33), dado a que las redes nuronales son sensibles a este tipo de casos habrá que aplicar alguna de las técnicas de resolución para este tipo de casos.

In [12]:
Features_1_2 = dv_personas_190411_model_one_hot_33.iloc[:,0:1]
Features_2_2 = dv_personas_190411_model_one_hot_33.iloc[:,2:]
Labels = dv_personas_190411_model_one_hot_33['tto_pcto_dias_trabajados']

In [13]:
Features = np.array(Features_1_2)
Features = np.concatenate([Features, np.array(Features_2_2)], axis = 1)
Features[:2,:]

array([[21,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0],
       [26,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0]], dtype=int64)

In [14]:
Features.shape

(14320, 204)

Procedemos a aplicar SMOTETomek que es una solución híbrida entre over-sampling y under-sampling

In [15]:
smt = SMOTETomek()
x_smt, y_smt = smt.fit_sample(Features, Labels)
print(x_smt.shape)
print(y_smt.shape)

(27780, 204)
(27780,)

In [16]:
y_smt_0 = y_smt[y_smt == 0]
y_smt_1 = y_smt[y_smt == 1]
y_smt_2 = y_smt[y_smt == 2]
print(y_smt_0.shape)
print(y_smt_1.shape)
print(y_smt_2.shape)

(9252,)
(9252,)
(9276,)

In [17]:
nr.seed(123)
inside = ms.KFold(n_splits=3, shuffle = True)
nr.seed(321)
outside = ms.KFold(n_splits=3, shuffle = True)

In [18]:
param_grid = {"alpha":[0.0000001,0.000001,0.00001], 
              "early_stopping":[True, False], 
              "beta_1":[0.95,0.90,0.80], 
              "beta_2":[0.999,0.9,0.8]}

## Define the Neural Network model
nn_clf_33 = MLPClassifier(hidden_layer_sizes = (100,100),
                       max_iter=500)

## Perform the grid search over the parameters
nr.seed(3456)
nn_clf_33 = ms.GridSearchCV(estimator = nn_clf_33, param_grid = param_grid, 
                      cv = inside, # Use the inside folds
                      scoring = 'roc_auc_ovo_weighted',
                      return_train_score = True)

nr.seed(6677)
nn_clf_33.fit(x_smt, y_smt)
print(nn_clf_33.best_estimator_.alpha)
print(nn_clf_33.best_estimator_.early_stopping)
print(nn_clf_33.best_estimator_.beta_1)
print(nn_clf_33.best_estimator_.beta_2)

1e-07
False
0.8
0.999

In [19]:
nr.seed(498)
cv_estimate = ms.cross_val_score(nn_clf_33, x_smt, y_smt, 
                                 cv = outside) # Use the outside folds

print('Mean performance metric = %4.3f' % np.mean(cv_estimate))
print('SDT of the metric       = %4.3f' % np.std(cv_estimate))
print('Outcomes by cv fold')
for i, x in enumerate(cv_estimate):
    print('Fold %2d    %4.3f' % (i+1, x))

Mean performance metric = 0.792
SDT of the metric       = 0.003
Outcomes by cv fold
Fold  1    0.793
Fold  2    0.788
Fold  3    0.796

In [20]:
x_train, x_test, y_train, y_test = train_test_split(Features,Labels,test_size=0.25, random_state=42)

In [21]:
nr.seed(1115)
nn_mod_33 = MLPClassifier(hidden_layer_sizes = (100,100), 
                       alpha = nn_clf_33.best_estimator_.alpha, 
                       early_stopping = nn_clf_33.best_estimator_.early_stopping, 
                       beta_1 = nn_clf_33.best_estimator_.beta_1, 
                       beta_2 = nn_clf_33.best_estimator_.beta_2,
                       max_iter = 500)
nn_mod_33.fit(x_train, y_train)

MLPClassifier(activation='relu', alpha=1e-07, batch_size='auto', beta_1=0.8,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100, 100), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=500,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [22]:
scores = nn_mod_33.predict(x_test)

In [23]:
def print_metrics_33(labels, scores):
    conf = sklm.confusion_matrix(labels, scores)
    print('                 Confusion matrix')
    print('                 Score [0,333.333]    Score (33.333,66.667] Score (66.667,100]')
    print('Actual [0,333.333]        %6d' % conf[0,0] + '             %5d' % conf[0,1] + '             %5d' % conf[0,2])
    print('Actual (33.333,66.667]    %6d' % conf[1,0] + '             %5d' % conf[1,1] + '             %5d' % conf[1,2])
    print('Actual (66.667,100]       %6d' % conf[2,0] + '             %5d' % conf[2,1] + '             %5d' % conf[2,2])

    print('')
    print('Accuracy        %0.2f' % sklm.accuracy_score(labels, scores))
    metrics = sklm.precision_recall_fscore_support(labels, scores)
    print(' ')
    print('         Score [0,333.333]    Score (33.333,66.667] Score (66.667,100]')
    print('Num case   %0.2f' % metrics[3][0] + '     %0.2f' % metrics[3][1] + '      %0.2f' % metrics[3][2] )
    print('Precision   %0.2f' % metrics[0][0] + '      %0.2f' % metrics[0][1] + '       %0.2f' % metrics[0][2] )
    print('Recall      %0.2f' % metrics[1][0] + '      %0.2f' % metrics[1][1] + '       %0.2f' % metrics[1][2] )
    print('F1          %0.2f' % metrics[2][0] + '      %0.2f' % metrics[2][1] + '       %0.2f' % metrics[2][2] )

In [24]:
print_metrics_33(y_test, scores)

                 Confusion matrix
                 Score [0,333.333]    Score (33.333,66.667] Score (66.667,100]
Actual [0,333.333]          1804               397                73
Actual (33.333,66.667]       701               278                65
Actual (66.667,100]          147                65                50

Accuracy        0.60

         Score [0,333.333]    Score (33.333,66.667] Score (66.667,100]
Num case   2274.00     1044.00      262.00
Precision   0.68      0.38       0.27
Recall      0.79      0.27       0.19
F1          0.73      0.31       0.22

In [25]:
probs = nn_mod_33.predict_proba(x_test)

In [26]:
roc_auc_score(y_test,probs,multi_class='ovo',average='weighted')

0.6147151727919438

#### Procedemos a dividir el tto_pcto_dias_trabajados en bloques de 25

In [27]:
tto_pcto_dias_trabajados_bucket_array = np.linspace(0,100,5)
tto_pcto_dias_trabajados_bucket_array

array([  0.,  25.,  50.,  75., 100.])

In [28]:
dv_personas_190411_model_one_hot_25 = dv_personas_190411_model_one_hot.copy()
dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados'] = pd.cut(dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados'],tto_pcto_dias_trabajados_bucket_array,include_lowest=True)
dv_personas_190411_model_one_hot_25.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,"(-0.001, 25.0]",1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,"(25.0, 50.0]",0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,"(-0.001, 25.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,"(25.0, 50.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,"(75.0, 100.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [29]:
dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados'].astype('category')

0        (-0.001, 25.0]
1          (25.0, 50.0]
2        (-0.001, 25.0]
3          (25.0, 50.0]
4         (75.0, 100.0]
              ...
14315    (-0.001, 25.0]
14316    (-0.001, 25.0]
14317    (-0.001, 25.0]
14318    (-0.001, 25.0]
14319    (-0.001, 25.0]
Name: tto_pcto_dias_trabajados, Length: 14320, dtype: category
Categories (4, interval[float64]): [(-0.001, 25.0] < (25.0, 50.0] < (50.0, 75.0] < (75.0, 100.0]]

In [30]:
dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados'] = dv_personas_190411_model_one_hot_25.tto_pcto_dias_trabajados.cat.codes
dv_personas_190411_model_one_hot_25.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [31]:
dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados'].value_counts()

0    7497
1    4319
2    1966
3     538
Name: tto_pcto_dias_trabajados, dtype: int64

Como en el caso anterior, los datos estan desbalanceados, sobre todo en el primer y segundo bloque, es decir entre el [0-25) y [25,50), por lo que tendremos que aplicar alguna de las técnicas de resolución para este tipo de casos, ya que las redes neuronales son sensibles para datos de este tipo

In [32]:
Features_1_2 = dv_personas_190411_model_one_hot_25.iloc[:,0:1]
Features_2_2 = dv_personas_190411_model_one_hot_25.iloc[:,2:]
Labels = dv_personas_190411_model_one_hot_25['tto_pcto_dias_trabajados']

In [33]:
Features = np.array(Features_1_2)
Features = np.concatenate([Features, np.array(Features_2_2)], axis = 1)
Features[:2,:]

array([[21,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0],
       [26,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0]], dtype=int64)

In [34]:
Features.shape

(14320, 204)

In [35]:
smt = SMOTETomek()
x_smt, y_smt = smt.fit_sample(Features, Labels)
print(x_smt.shape)
print(y_smt.shape)

(29880, 204)
(29880,)

In [36]:
y_smt_0 = y_smt[y_smt == 0]
y_smt_1 = y_smt[y_smt == 1]
y_smt_2 = y_smt[y_smt == 2]
y_smt_3 = y_smt[y_smt == 3]
print(y_smt_0.shape)
print(y_smt_1.shape)
print(y_smt_2.shape)
print(y_smt_3.shape)

(7448,)
(7464,)
(7475,)
(7493,)

In [37]:
nr.seed(123)
inside = ms.KFold(n_splits=3, shuffle = True)
nr.seed(321)
outside = ms.KFold(n_splits=3, shuffle = True)

In [38]:
param_grid = {"alpha":[0.0000001,0.000001,0.00001], 
              "early_stopping":[True, False], 
              "beta_1":[0.95,0.90,0.80], 
              "beta_2":[0.999,0.9,0.8]}

## Define the Neural Network model
nn_clf_25 = MLPClassifier(hidden_layer_sizes = (100,100),
                       max_iter=500)

## Perform the grid search over the parameters
nr.seed(3456)
nn_clf_25 = ms.GridSearchCV(estimator = nn_clf_25, param_grid = param_grid, 
                      cv = inside, # Use the inside folds
                      scoring = 'roc_auc_ovo_weighted',
                      return_train_score = True)

nr.seed(6677)
nn_clf_25.fit(x_smt, y_smt)
print(nn_clf_25.best_estimator_.alpha)
print(nn_clf_25.best_estimator_.early_stopping)
print(nn_clf_25.best_estimator_.beta_1)
print(nn_clf_25.best_estimator_.beta_2)

1e-05
False
0.95
0.8

In [39]:
nr.seed(498)
cv_estimate = ms.cross_val_score(nn_clf_25, x_smt, y_smt, 
                                 cv = outside) # Use the outside folds

print('Mean performance metric = %4.3f' % np.mean(cv_estimate))
print('SDT of the metric       = %4.3f' % np.std(cv_estimate))
print('Outcomes by cv fold')
for i, x in enumerate(cv_estimate):
    print('Fold %2d    %4.3f' % (i+1, x))

Mean performance metric = 0.774
SDT of the metric       = 0.003
Outcomes by cv fold
Fold  1    0.772
Fold  2    0.772
Fold  3    0.778

In [40]:
x_train, x_test, y_train, y_test = train_test_split(Features,Labels,test_size=0.25, random_state=42)

In [41]:
nr.seed(1115)
nn_mod_25 = MLPClassifier(hidden_layer_sizes = (100,100), 
                       alpha = nn_clf_25.best_estimator_.alpha, 
                       early_stopping = nn_clf_25.best_estimator_.early_stopping, 
                       beta_1 = nn_clf_25.best_estimator_.beta_1, 
                       beta_2 = nn_clf_25.best_estimator_.beta_2,
                       max_iter = 500)
nn_mod_25.fit(x_train, y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.95,
              beta_2=0.8, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100, 100), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=500,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [42]:
scores = nn_mod_25.predict(x_test)

In [43]:
def print_metrics_25(labels, scores):
    conf = sklm.confusion_matrix(labels, scores)
    print('                 Confusion matrix')
    print('                 Score [0,25]    Score (25,50] Score (50,75] Score (75,100]')
    print('Actual [0,25]     %6d' % conf[0,0] + '             %5d' % conf[0,1] + '             %5d' % conf[0,2] + '              %5d' % conf[0,3])
    print('Actual (25,50]    %6d' % conf[1,0] + '             %5d' % conf[1,1] + '             %5d' % conf[1,2] + '              %5d' % conf[1,3])
    print('Actual (50,75]    %6d' % conf[2,0] + '             %5d' % conf[2,1] + '             %5d' % conf[2,2] + '              %5d' % conf[2,3])
    print('Actual (75,100]   %6d' % conf[3,0] + '             %5d' % conf[3,1] + '             %5d' % conf[3,2] + '              %5d' % conf[3,3])

    print('')
    print('Accuracy        %0.2f' % sklm.accuracy_score(labels, scores))
    metrics = sklm.precision_recall_fscore_support(labels, scores)
    print(' ')
    print('          Score [0,25]  Score (25,50]  Score (50,75] Score (75,100]')
    print('Num case   %0.2f' % metrics[3][0] + '     %0.2f' % metrics[3][1] + '      %0.2f' % metrics[3][2] + '      %0.2f' % metrics[3][3] )
    print('Precision   %0.2f' % metrics[0][0] + '      %0.2f' % metrics[0][1] + '       %0.2f' % metrics[0][2] + '     %0.2f' % metrics[0][3] )
    print('Recall      %0.2f' % metrics[1][0] + '      %0.2f' % metrics[1][1] + '       %0.2f' % metrics[1][2] + '     %0.2f' % metrics[1][3] )
    print('F1          %0.2f' % metrics[2][0] + '      %0.2f' % metrics[2][1] + '       %0.2f' % metrics[2][2] + '     %0.2f' % metrics[2][3] )

In [44]:
print_metrics_25(y_test, scores)

                 Confusion matrix
                 Score [0,25]    Score (25,50] Score (50,75] Score (75,100]
Actual [0,25]       1344               343               122                 20
Actual (25,50]       710               275               119                 14
Actual (50,75]       310                90                86                 16
Actual (75,100]       79                20                23                  9

Accuracy        0.48

          Score [0,25]  Score (25,50]  Score (50,75] Score (75,100]
Num case   1829.00     1118.00      502.00      131.00
Precision   0.55      0.38       0.25     0.15
Recall      0.73      0.25       0.17     0.07
F1          0.63      0.30       0.20     0.09

In [45]:
probs = nn_mod_25.predict_proba(x_test)

In [46]:
roc_auc_score(y_test, probs,multi_class="ovo",average="weighted")

0.6118612126978982

#### Procedemos a dividir el tto_pcto_dias_trabajados en bloques de 20

In [12]:
tto_pcto_dias_trabajados_bucket_array = np.linspace(0,100,6)
tto_pcto_dias_trabajados_bucket_array

array([  0.,  20.,  40.,  60.,  80., 100.])

In [13]:
dv_personas_190411_model_one_hot_20 = dv_personas_190411_model_one_hot.copy()
dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados'] = pd.cut(dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados'],tto_pcto_dias_trabajados_bucket_array,include_lowest=True)
dv_personas_190411_model_one_hot_20.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,"(20.0, 40.0]",1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,"(20.0, 40.0]",0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,"(20.0, 40.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,"(20.0, 40.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,"(60.0, 80.0]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [14]:
dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados'].astype('category')

0          (20.0, 40.0]
1          (20.0, 40.0]
2          (20.0, 40.0]
3          (20.0, 40.0]
4          (60.0, 80.0]
              ...
14315    (-0.001, 20.0]
14316    (-0.001, 20.0]
14317    (-0.001, 20.0]
14318      (20.0, 40.0]
14319    (-0.001, 20.0]
Name: tto_pcto_dias_trabajados, Length: 14320, dtype: category
Categories (5, interval[float64]): [(-0.001, 20.0] < (20.0, 40.0] < (40.0, 60.0] < (60.0, 80.0] < (80.0, 100.0]]

In [15]:
dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados'] = dv_personas_190411_model_one_hot_20.tto_pcto_dias_trabajados.cat.codes
dv_personas_190411_model_one_hot_20.head()

,edad_fin_primera_titulacion,tto_pcto_dias_trabajados,Titulacion_is_GRADO EN EDUCACIÓN PRIMARIA,Titulacion_is_ING. TÉC. OBRAS PÚB. (ESPECIALIDAD EN CONST. CIV.),Titulacion_is_INGENIERO QUÍMICO,Titulacion_is_INGENIERO TÉCNICO FORESTAL (ESPECIALIDAD EN EXPLOTACIONES FORESTALES),Titulacion_is_GRADO EN MEDICINA,Titulacion_is_INGENIERO TÉCNICO INDUSTRIAL (ESPECIALIDAD EN ELECTRICIDAD),Titulacion_is_DIPLOMADO EN ENFERMERÍA,Titulacion_is_DIPLOMADO EN TERAPIA OCUPACIONAL,...,tipo_acceso_Estudios universitarios extranjeros parcialmente convalidados,tipo_acceso_Formación Profesional,tipo_acceso_Mayores de 25/40/45 años,tipo_acceso_Otros accesos a primer y segundo ciclo,tipo_acceso_Selectividad,tipo_acceso_Traslado de Expediente (Estudios Españoles),tipo_acceso_Título Universitario,tipo_erasmus_Estudios,tipo_erasmus_Ninguno,tipo_erasmus_Prácticas
0,21,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,26,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,24,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,21,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,32,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [16]:
dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados'].value_counts()

0    6184
1    4261
2    2374
3    1127
4     374
Name: tto_pcto_dias_trabajados, dtype: int64

Como en el caso anterior, los datos estan desbalanceados, sobre todo en el primer y segundo bloque, es decir entre el [0-20) y [20,40), por lo que tendremos que aplicar alguna de las técnicas de resolución para este tipo de casos, ya que las redes neuronales son sensibles para datos de este tipo

In [17]:
Features_1_2 = dv_personas_190411_model_one_hot_20.iloc[:,0:1]
Features_2_2 = dv_personas_190411_model_one_hot_20.iloc[:,2:]
Labels = dv_personas_190411_model_one_hot_20['tto_pcto_dias_trabajados']

In [18]:
Features = np.array(Features_1_2)
Features = np.concatenate([Features, np.array(Features_2_2)], axis = 1)
Features[:2,:]

array([[21,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0],
       [26,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0]], dtype=int64)

In [19]:
Features.shape

(14320, 204)

In [20]:
smt = SMOTETomek()
x_smt, y_smt = smt.fit_sample(Features, Labels)
print(x_smt.shape)
print(y_smt.shape)

(30802, 204)
(30802,)

In [21]:
y_smt_0 = y_smt[y_smt == 0]
y_smt_1 = y_smt[y_smt == 1]
y_smt_2 = y_smt[y_smt == 2]
y_smt_3 = y_smt[y_smt == 3]
y_smt_4 = y_smt[y_smt == 4]
print(y_smt_0.shape)
print(y_smt_1.shape)
print(y_smt_2.shape)
print(y_smt_3.shape)

(6138,)
(6158,)
(6156,)
(6169,)

In [22]:
nr.seed(123)
inside = ms.KFold(n_splits=3, shuffle = True)
nr.seed(321)
outside = ms.KFold(n_splits=3, shuffle = True)

In [ ]:
param_grid = {"alpha":[0.0000001,0.000001,0.00001], 
              "early_stopping":[True, False], 
              "beta_1":[0.95,0.90,0.80], 
              "beta_2":[0.999,0.9,0.8]}

## Define the Neural Network model
nn_clf_20 = MLPClassifier(hidden_layer_sizes = (100,100),
                       max_iter=700)

## Perform the grid search over the parameters
nr.seed(3456)
nn_clf_20 = ms.GridSearchCV(estimator = nn_clf_20, param_grid = param_grid, 
                      cv = inside, # Use the inside folds
                      scoring = 'roc_auc_ovo_weighted',
                      return_train_score = True)

nr.seed(6677)
nn_clf_20.fit(x_smt, y_smt)
print(nn_clf_20.best_estimator_.alpha)
print(nn_clf_20.best_estimator_.early_stopping)
print(nn_clf_20.best_estimator_.beta_1)
print(nn_clf_20.best_estimator_.beta_2)

In [ ]:
nr.seed(498)
cv_estimate = ms.cross_val_score(nn_clf_20, x_smt, y_smt, 
                                 cv = outside) # Use the outside folds

print('Mean performance metric = %4.3f' % np.mean(cv_estimate))
print('SDT of the metric       = %4.3f' % np.std(cv_estimate))
print('Outcomes by cv fold')
for i, x in enumerate(cv_estimate):
    print('Fold %2d    %4.3f' % (i+1, x))

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(Features,Labels,test_size=0.25, random_state=42)

In [ ]:
nr.seed(1115)
nn_mod_20 = MLPClassifier(hidden_layer_sizes = (100,100), 
                       alpha = nn_clf_20.best_estimator_.alpha, 
                       early_stopping = nn_clf_20.best_estimator_.early_stopping, 
                       beta_1 = nn_clf_20.best_estimator_.beta_1, 
                       beta_2 = nn_clf_20.best_estimator_.beta_2,
                       max_iter = 700)
nn_mod_20.fit(x_train, y_train)

In [ ]:
scores = nn_mod_20.predict(x_test)

In [ ]:
def print_metrics_20(labels, scores):
    conf = sklm.confusion_matrix(labels, scores)
    print('                 Confusion matrix')
    print('                 Score [0,20]    Score (20,40] Score (40,60] Score (60,80] Score (80,100]')
    print('Actual [0,20]     %6d' % conf[0,0] + '             %5d' % conf[0,1] + '             %5d' % conf[0,2] + '              %5d' % conf[0,3] + '              %5d' % conf[0,4])
    print('Actual (20,40]   %6d' % conf[1,0] + '             %5d' % conf[1,1] + '             %5d' % conf[1,2] + '              %5d' % conf[1,3] + '              %5d' % conf[1,4])
    print('Actual (40,60]   %6d' % conf[2,0] + '             %5d' % conf[2,1] + '             %5d' % conf[2,2] + '              %5d' % conf[2,3] + '              %5d' % conf[2,4])
    print('Actual (60,80]   %6d' % conf[3,0] + '             %5d' % conf[3,1] + '             %5d' % conf[3,2] + '              %5d' % conf[3,3] + '              %5d' % conf[3,4])
    print('Actual (80,100]  %6d' % conf[4,0] + '             %5d' % conf[4,1] + '             %5d' % conf[4,2] + '              %5d' % conf[4,3] + '              %5d' % conf[4,4])

    print('')
    print('Accuracy        %0.2f' % sklm.accuracy_score(labels, scores))
    metrics = sklm.precision_recall_fscore_support(labels, scores)
    print(' ')
    print('          Score [0,20]  Score (20,40]  Score (40,60]  Score (60,80]  Score (80,100]')
    print('Num case   %0.2f' % metrics[3][0] + '         %0.2f' % metrics[3][1] + '         %0.2f' % metrics[3][2] + '          %0.2f' % metrics[3][3] + '       %0.2f' % metrics[3][4])
    print('Precision   %0.2f' % metrics[0][0] + '            %0.2f' % metrics[0][1] + '            %0.2f' % metrics[0][2] + '            %0.2f' % metrics[0][3] + '         %0.2f' % metrics[0][4])
    print('Recall      %0.2f' % metrics[1][0] + '            %0.2f' % metrics[1][1] + '            %0.2f' % metrics[1][2] + '            %0.2f' % metrics[1][3] + '         %0.2f' % metrics[1][4])
    print('F1          %0.2f' % metrics[2][0] + '            %0.2f' % metrics[2][1] + '            %0.2f' % metrics[2][2] + '            %0.2f' % metrics[2][3] + '         %0.2f' % metrics[2][4])

In [ ]:
print_metrics_20(y_test, scores)

In [ ]:
probs = nn_mod_20.predict_proba(x_test)

In [ ]:
roc_auc_score(y_test,probs,multi_class='ovo',average='weighted')